@import "tailwindcss";

* {
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #18181B;
  color: #FAFAFA;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #18181B;
}
::-webkit-scrollbar-thumb {
  background: #3F3F46;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #52525B;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
